body {
    background: url(misc/hero_a.png) no-repeat fixed, var(--bg-gradient);
    background-position: 0% 70%;
    background-size: cover;
}

#project-introduction {
    width: 100%;
    height: 100vh;
    padding: var(--page-padding);
    position: relative;
    z-index: 2;
}

.description {
    max-width: 60ch;
    height: 100%;
}

.description p:first-child::first-letter {
    font-size: 2rem;
    line-height: 0;
}
.description span {
    margin-left: -1ch;
}

.description .logo {
    max-width: 200px;
    margin-top: 2rem;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--bg-gradient);
    background-size: 400% 400%;
	animation: gradient 100s ease infinite;
    -webkit-mask-image: url("masks/quilt_mask_pattern_full.svg");
    mask-image: url("masks/quilt_mask_pattern_full.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mix-blend-mode: sreen;
    opacity: .1;
    z-index: 1001;
    pointer-events: none;
}

/*      QUILT CONTAINER    */

#quilt {
    display: flex;
    height: 100vh;
    max-width: 100vw;
    padding-top: 10vh;
    background:  linear-gradient(transparent 0%, var(--blue)) no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    z-index: 1;
}

#quilt .square {
    width: 50vw;
    flex: 0 0 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: -16.67vw;
    -webkit-mask-image: url("masks/quilt_mask_grid_full.svg");
    mask-image: url("masks/quilt_mask_grid_full.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    background: var(--bg-gradient);
    mix-blend-mode: overlay;
}
#quilt .square:first-child {
    margin-left: -8.335vw;
}

#quilt .square .name {
    color: black;
    width: calc(100% / 3);
    height: calc(100% / 3);
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    background: var(--yellow);
    backdrop-filter: blur(4px);
    
}
#quilt .square .name * {
    width: 100%;
    line-height: 1;
}

#quilt .square .name:hover {
    color: var(--bright);
    background: var(--blue-solid);
}

#quilt .name:hover + img {
    background: var(--bright);
}

#quilt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
    pointer-events: none;
    filter: grayscale(1);
    mix-blend-mode: soft-light;
    z-index: -1;
}

/*      MEDIA QUERY      */

@media screen and (max-width: 720px) {
    
    #quilt {
        display: block;
    }
    
    #quilt .square {
        width: 100vw;
        height: 100vw;
        margin-left: unset;
        margin-top: -33.4vw;
    }
    #quilt .square:first-child {
        margin-left: unset;
        margin-top: unset;
    }
}

