body {
    background: var(--gradient) fixed;
	background-size: 400% 400%;
	animation: gradient 100s ease infinite;
}

#project-introduction {
    width: 100%;
    height: 100vh;
    padding: var(--page-padding);
    position: relative;
    z-index: 2;
}

.description {
    max-width: 66ch;
    height: 100%;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--gray);
    -webkit-mask-image: url("masks/quilt_mask_pattern_full.svg");
    mask-image: url("masks/quilt_mask_pattern_full.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mix-blend-mode: sreen;
    opacity: .1;
    z-index: 1001;
    pointer-events: none;
}

/*      QUILT CONTAINER    */

#quilt {
    display: flex;
    height: var(--large-patch-width);
    max-width: 100vw;
    padding-top: 10vh;
    background:  linear-gradient(transparent 0%, var(--blue)) no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    z-index: 1;
}

#quilt .square {
    width: 50vw;
    flex: 0 0 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: -16.67vw;
    -webkit-mask-image: url("masks/quilt_mask_grid_full.svg");
    mask-image: url("masks/quilt_mask_grid_full.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    background: var(--blue);
}
#quilt .square:first-child {
    margin-left: -8.335vw;
}

#quilt .square .name {
    width: calc(50vw / 3);
    height: calc(50vw / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    background: var(--gray-blend);
    backdrop-filter: blur(6px);
    
}
#quilt .square .name * {
    width: 100%;
}

#quilt .square .name:hover {
    color: var(--black);
    background: var(--blue-solid);
}

#quilt .name:hover + img {
    background: var(--bright);
}

#quilt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
    pointer-events: none;
    filter: grayscale(1);
    mix-blend-mode: soft-light;
    z-index: -1;
}
