/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

/*      RESET      */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    line-height: 1.4;
    color: 
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-extrabold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-extrabolditalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/*      VARIABLES      */

:root {
    
    /* Color */
    
    --dark-gray: #4C5761;
    --black: #1C2024;
    
    --bright: #58B3D6;
    
    --background: #D5DADE;
    --background-rgba: rgba(213,218,222,.5);
    
    /* Size */
    --text-padding: 4ch;
    --page-padding: 12vw;
    
    /* Other */
    
}


/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

html {
    background: var(--background) ;
}

body {
    font-family: "Spectral", "Times New Roman", serif;
    background: var(--background) url("textures/graveyard.jpg") no-repeat fixed;
    background-size: cover;
    width: 100vw;
}

p {
    margin-bottom: 1rem;
}

img {

}

/*      WRAPPER    */

#wrapper {
    display: flex;
}


/*      QUILT CONTAINER    */

#quilt {
    display: flex;
    height: var(--large-patch-width);
    max-width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

#quilt .square {
    width: 100vh;
    flex: 0 0 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#quilt .square .name {
    color: white;
    width: calc(100vh / 3);
    height: calc(100vh / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
}
#quilt .square .name * {
    width: 100%;
}

#quilt .name:hover + img {
    opacity: .5;
}

#quilt img {
     width: 100%;
    height: 100%;
    -webkit-mask-image: url("masks/quilt_mask_grid_bottom-right.svg");
    mask-image: url("masks/quilt_mask_grid_full.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    object-fit: cover;
    transition: opacity 1s ease;
    pointer-events: none;
}


/*      EFFECTS     */

#effects {
    width: 100%;
    height: 240px;
    position: fixed;
    bottom: 0;
    z-index: 1001;
    backdrop-filter: blur(6px) grayscale(1);
    background-image: linear-gradient(transparent, var(--dark-gray));
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
    pointer-events: none;
}

/*      MEDIA QUERY      */

@media screen and (max-width: 720px) {
    
}

