/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

/*      RESET      */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-bolditalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/*      VARIABLES      */

:root {
    
    /* Color */
    
    --gray: #D5DADE;
    
    --yellow: rgba(242,232,92,.3);
    --blue: rgba(99,179,214,.3);
    
    --gray-blend: rgba(213,218,222,.5);
    --blue-solid: rgba(99,179,214,.6);
    
    
    --black: #1C2024;
    
    --bright: #005DCA;
    
    --background: #D5DADE;
    
    --effects-gradient:  linear-gradient(-45deg, var(--gray) 10%, white 20%, var(--yellow) 30%, var(--blue) 35%, var(--gray) 80%);
    
    --bg-gradient:  linear-gradient(white, var(--gray), var(--yellow), var(--blue));
    
    /* Size */
    --text-padding: 4ch;
    --page-padding: 12vw;
    
    --effects-height: 180px;
    
    /* Transition */
    --link-speed: all .5s ease;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

html {
    background: var(--background-gradient);
}

body {
    color: var(--black);
    font-family: "Spectral", "Times New Roman", serif;
    line-height: 1.5;
    background: white;
    background-size: cover;
    width: 100vw;
}

p {
    margin-bottom: .5rem;
}

a, a:visited {
    color: var(--bright);
    text-decoration: none;
    transition: var(--link-speed);
}
a:hover, a:active {
    color: var(--gray);
}

main {
    width: 100%;
    padding: 0 var(--page-padding);
}

section {

    margin: 6vw 0;
    display: flex;
}

/*      EFFECTS     */

#effects {
    width: 100%;
    height: var(--effects-height);
    position: fixed;
    bottom: 0;
    z-index: 4;
    backdrop-filter: blur(6px) grayscale(1);
    background-image: var(--effects-gradient);
    animation: gradient 20s ease infinite;
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
    pointer-events: none;
}

/*  FOOTER  */

.path {
    display: flex;
    justify-content: space-between;
    font-variant: small-caps;
    text-transform: lowercase;
    white-space: nowrap;
    margin: 2rem 0;
    position: relative;
    z-index: 5;
}

footer {
    padding: 2ch var(--page-padding) var(--effects-height) var(--page-padding);
    background: url("../layout/misc/logo_white.svg") no-repeat left calc(100% + 2px);
    background-size: 40%;
}

.path a {
    padding: 1ch 0;
}

.path .prev::before {
    content: '❮';
    margin-right: 1ch;
}

.path .next::after {
    content: '❯';
    margin-left: 1ch;
}

.path .prev::before, .path .next::after {
    transition: margin .5s ease, padding .5s ease;
}

.path .prev:hover::before {
    margin-left: -1ch;
    padding-right: 1ch;
}

.path .next:hover::after {
    margin-right: -1ch;
    padding-left: 1ch;
}

/*      HEADER      */

header {
    width: 100%;
    padding-bottom: var(--side-padding);
	animation: gradient 20s ease infinite;
    pointer-events: none;
    position: relative;
    overflow: hidden;
}

header .details {
    display: flex;
    justify-content: space-between;
    padding: 1ch var(--page-padding);
    border-top: 4pt double var(--black);
    position: relative;
    z-index: 1;
}

/*      MEDIA QUERY      */

@media screen and (max-width: 720px) {
   
    :root {
        --page-padding: 6vw;
    }
    
    h2 {
        font-size: 1rem;
    }
}

