/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

/*      RESET      */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    line-height: 1.4;
    color: 
}

/*      FONTS          */

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-extrabold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Spectral";
    src: url("fonts/spectral-extrabolditalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/*      VARIABLES      */

:root {
    
    /* Color */
    
    --gray: #D5DADE;
    --yellow: rgba(242,232,92,.25);
    --blue: rgba(99,179,214,.5);
    
    --black: #1C2024;
    
    --bright: #005DCA;
    
    --background: #D5DADE;
    --background-rgba: rgba(213,218,222,.5);
    
    --gradient:  linear-gradient(-45deg, var(--gray), white 20%, var(--yellow), var(--gray), var(--blue)) ;
    
    /* Size */
    --text-padding: 4ch;
    --page-padding: 12vw;
    
    --effects-height: 220px;
    
    /* Transition */
    --link-speed: all .5s ease;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/************************************************************/
/*  BASIC LAYOUT                                            */
/************************************************************/

html {
    background: var(--background);
}

body {
    color: var(--black);
    font-family: "Spectral", "Times New Roman", serif;
    line-height: 1.25;
    background: white;
    background-size: cover;
    width: 100vw;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--bright);
    text-decoration: none;
    transition: var(--link-speed);
}
a:hover, a:active, a:visited {
    color: var(--gray);
}

/*      WRAPPER    */

#wrapper {
    display: flex;
}

/*      EFFECTS     */

#effects {
    width: 100%;
    height: var(--effects-height);
    position: fixed;
    bottom: 0;
    z-index: 1001;
    backdrop-filter: blur(6px) grayscale(1);
    background-image: var(--gradient);
    animation: gradient 20s ease infinite;
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
    pointer-events: none;
}

/*      MEDIA QUERY      */

@media screen and (max-width: 720px) {
   
    :root {
        --page-padding: 6vw;
    }
    
    h2 {
        font-size: 1rem;
    }
}

