/************************************************************/
/*  LAYOUT FOR FIGURES                                      */
/************************************************************/

header .person {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

header .name {
    width: 100%;
    margin-right: -30vw;
    margin-bottom: -2ch;
    padding: var(--page-padding) var(--page-padding) 0 var(--page-padding);
    position: relative;
    z-index: 1;
}

header h2 {
    font-weight: 100;
}

header .details h2:last-child {
    font-variant: small-caps;
    text-transform: lowercase;
}

header .headshot {
    width: 30vw;
    height: 30vw;
    background: var(--effects-gradient);
    background-size: 200% 200%;
    animation: gradient 60s ease infinite;
    -webkit-mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
}
header .headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
    -webkit-mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
}



/************************************************************/
/*  ARTIFACTS                                               */
/************************************************************/

.artifact {
    width: 25%;
    flex: 0 0 25%;
    margin-right: 2vw;
    font-size: .75rem
}

.artifact img {
    width: 100%;
    margin-bottom: 1vw;
}

.artifact > p:first-child, .quote {
    font-size: 1rem;
    text-align: justify;
}
.artifact > p:first-child::first-letter, .quote::first-letter {
    display: inline-block;
    margin-left: -1ch;
}

.description {
    width: 75%;
    flex: 0 0 75%;
}

.caption:first-of-type {
    margin-bottom: 1vw;
}

.caption .title {
    font-weight: 600;
}

.quote {
    margin-bottom: 1vw;
}


/*      MEDIA QUERY      */

@media screen and (max-width: 720px) {
    
    section {
        flex-wrap: wrap;
        border-bottom: 1px solid var(--black);
        padding: 2rem 0;
        margin: 0;
    }
    
    .description, .artifact {
        width: 100%;
        flex: 0 0 100%;
    }
    
    header .details {
        display: block;
        border: none;
    }
    
    .path {
        display: block;
    }
    .path a {
        text-align: center;
        display: block;
        width: 100%;
    }
}
