

#wrapper {
    display: block;
}

main {
    width: 100%;
    padding: 0 var(--page-padding);
}

section {

    margin: 6vw 0;
    display: flex;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2ch var(--page-padding) var(--effects-height) var(--page-padding);
    font-variant: small-caps;
    text-transform: lowercase;
    white-space: nowrap;
    background: url("../layout/misc/logo_white.svg") no-repeat left calc(100% + 2px);
    background-size: 40%;
    position: relative;
    z-index: 5;
}

footer a {
    padding: 1ch 0;
}

footer .prev::before {
    content: '❮';
    margin-right: 1ch;
}

footer .next::after {
    content: '❯';
    margin-left: 1ch;
}

footer .prev::before, footer .next::after {
    transition: margin .5s ease, padding .5s ease;
}

footer .prev:hover::before {
    margin-left: -1ch;
    padding-right: 1ch;
}

footer .next:hover::after {
    margin-right: -1ch;
    padding-left: 1ch;
}

/*      HEADER      */

header {
    width: 100%;
    padding-bottom: var(--side-padding);
	animation: gradient 20s ease infinite;
    pointer-events: none;
    position: relative;
    overflow: hidden;
}

header .person {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

header .name {
    width: 100%;
    margin-right: -30vw;
    margin-bottom: -2ch;
    padding: var(--page-padding) var(--page-padding) 0 var(--page-padding);
    position: relative;
    z-index: 1;
}

header .details {
    display: flex;
    justify-content: space-between;
    padding: 1ch var(--page-padding);
    border-top: 4pt double var(--black);
    position: relative;
    z-index: 1;
}

header h2 {
    font-weight: 100;
}

header .details h2:last-child {
    font-variant: small-caps;
    text-transform: lowercase;
}

header .headshot {
    width: 30vw;
    height: 30vw;
    background: var(--effects-gradient);
    background-size: 200% 200%;
    animation: gradient 60s ease infinite;
    -webkit-mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
}
header .headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
    -webkit-mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-image: url("masks/quilt_mask_tracks_top-right.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
}



/************************************************************/
/*  ARTIFACTS                                               */
/************************************************************/

.artifact {
    width: 25%;
    flex: 0 0 25%;
    margin-right: 2vw;
    font-size: .75rem
}

.artifact img {
    width: 100%;
}

.artifact > p:first-child {
    font-size: 1rem;
    text-align: justify;
}
.artifact > p:first-child::first-letter {
    display: inline-block;
    margin-left: -1ch;
}

.description {
    width: 75%;
    flex: 0 0 75%;
}

.caption {
    margin-top: 1vw;
}

.caption .title {
    font-weight: 600;
}


/*      MEDIA QUERY      */

@media screen and (max-width: 720px) {
    
    section {
        flex-wrap: wrap;
        border-bottom: 1px solid var(--black);
        padding: 2rem 0;
        margin: 0;
    }
    
    .description, .artifact {
        width: 100%;
        flex: 0 0 100%;
    }
    
    .
}
